#main{
    background-color: silver;
}

#title{
    text-align: center;
}

#img-div{
    background-color: white ;
    padding : 0 auto 0 auto 0 ;
}
#image{   
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}